 th, td {
    border: 1px solid;
  }
  .cell {
   
    width: 100px;
    height: 100px;
   
    border: 2px solid #ecd7ba;
    
    line-height: 100px;
    font-size: 60px;
}
.game {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 10px auto;
 
  color: #ffffff;
}
.imd{

  position: absolute;
    width: 20%;
    height:44%;
}